<?xml version="1.0"?>

<model>
  <name>Iris Betaflight Custom (LiftDrag, No ArduPilot Plugin)</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Custom for Betaflight</name>
    <email>betaflight@gazebo.local</email>
  </author>
  <author>
    <name>Markus Achtelik</name>
  </author>

  <maintainer email="hsu@osrfoundation.org">john hsu</maintainer>


  <description>
    Iris quadcopter for Betaflight SITL
    Based on iris_with_standoffs with LiftDragPlugin
    ArduPilot plugin removed - using BetaflightPlugin instead
  </description>
  <depend>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
